PORT = 4000

FRONTEND_URL=http://localhost:5173

MONGO_URI='mongodb+srv://harshalmadgulkar725:<db_password>@cluster0.spdntnw.mongodb.net/'

SMTP_HOST = smtp.gmail.com
SMTP_SERVICE = gmail
SMTP_PORT = 465
SMTP_MAIL = harshalmadgulkar725@gmail.com
SMTP_PASSWORD = 

COOKIE_EXPIRE = 3

JWT_SECRET_KEY = 
JWT_EXPIRE = 3d